body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0;
}

.header {
  background-color: #3498db;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.header-content {
  opacity: 0;
  transition: opacity 0.8s ease-in;
  max-width: 100%;
  padding: 40px;
}

.header h1 {
  margin: 0;
  font-size: 36px;
}

.header p {
  font-size: 18px;
}

.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .intro {
  margin-top: 20px;
}

.about,
.skills,
.projects,
.footer,
.intro {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.intro h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.intro p {
  font-size: 16px;
  line-height: 1.5;
}

.intro a {
  text-decoration: none;
  color: #3498db;
}

.intro a:hover {
  text-decoration: underline;
}

.about {
  background-color: white;
}

.about p {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.skills,
.projects,
.footer {
  background-color: white;
}

.skills > *,
.project {
  max-width: 100%;
}

.skill,
.project {
  text-align: center;
  padding: 15px;
  background-color: #ecf0f1;
  border-radius: 8px;
}

.skill i,
.project i {
  font-size: 48px;
  color: #3498db;
}

.skill p,
.project p {
  margin-top: 10px;
}

.about p {
  padding: 5px;
}

.level {
  font-weight: bold;
  margin-top: 5px;
}

.low {
  color: #e74c3c;
}

.low-medium {
  color: #d35400;
}

.medium {
  color: #d1be13;
}

.medium-high {
  color: #90cf13;
}

.high {
  color: #2ecc71;
}

body {
  flex-grow: 1;
}

.copy {
  text-align: center;
  font-size: 1.2em;
  color: #000000;
}

@media (max-width: 767px) {
  .grid-container,
  .grid-container-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}
