body {
  margin: 0;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#stars {
  background: linear-gradient(to bottom, #001f3f, #003366, #00509e);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(1.5px);
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#copy {
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  left: 10px;
  margin: 5px;
  padding: 10px;
}
